<div>
  <strong>Please pick a name for the added location <span *ngIf="data.example_info!=''">
      ({{data.example_info}})
  </span>: </strong><br>

  <label class="label-address">
    {{data.address}}
  </label>
  
  <mat-form-field>
    <input matInput [(ngModel)]="this.name" type="text" [formControl]="nameInputControl">
    <button mat-button *ngIf="this.name" matSuffix mat-icon-button aria-label="Clear" (click)="this.name=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <section class="add-section">
    <button mat-raised-button (click)="addName()">ADD </button>
  </section>
</div>