<section class="header">

    <button mat-button label class="button-switch-page" (click)="goToNextCategory()">
        <div *ngIf="1 === 1; then leftArrowIcon"></div>
    </button>
    <label class="header-cat">{{this.categoriesNames[this.currentCategory]}}</label>
    <button mat-button label class="button-switch-page" (click)="goToPrevCategory()">
        <div *ngIf="1 === 1; then rightArrowIcon"></div>
    </button>
</section>
<div *ngIf="(status.loading && !status.loaded) || (!status.loading && !status.loaded); then loading  else loaded"></div>
<ng-template #loaded>

    <div class="mybooks">
        <app-auto-complete [books]="this.categories[this.categoriesNames[this.currentCategory]]" [(activeOption)]="this.bookSelected" (getBookSelected)="showBookNavbar($event)"
            id="auto-complete"></app-auto-complete>
        <mat-grid-list class="my-books" [cols]="numCols" gutterSize="10" rowHeight="5:8" (window:resize)="onResize()">
            <mat-grid-tile *ngFor="let book of this.categories[this.categoriesNames[this.currentCategory]]" (click)="showBookNavbar(book)">
                <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!==book) , 'regular': (this.bookNavBarEnabled===false || this.isBookEquale(this.bookSelected,book)) }"
                    [attr.src]="book.imagePath" />
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div *ngIf="this.bookNavBarEnabled===true; then bookNavbar"></div>

    <ng-template #bookNavbar>
        <div class='bookNavbarBox'>
            <mat-grid-list class="bookNavbarList" rowHeight="35px" cols="1">
                <mat-grid-tile>
                    <button mat-icon-button (click)="hideBookNavbar(bookSelected)">
                        <mat-icon svgIcon='down-arrow-black' class="arrow-icon"></mat-icon>
                    </button>
                </mat-grid-tile>
            </mat-grid-list>
            
               <mat-card style="margin-top: 1%;text-align: left;overflow-y: auto;background-color: #fafafa;height: 100%;border-radius: 0px;border: 0%;">
                    <mat-card-content>
                            <div style="display:inline-block;vertical-align:bottom;">
                                    <img class="detailCover" style="vertical-align:bottom;margin-left: 1%;height: 240px;width: 150px;box-sizing: border-box;" [attr.src]="bookSelected.imagePath"/>

                            </div>
                            <div style="box-sizing: border-box;display:inline-block;margin-left: 5%;">
                                    <span style="vertical-align:bottom;">Located Xkm. from you<br>Borrowed X times<br></span>
                                    <button  class="request-icon" (click)="requestBook(bookSelected)">
                                            <mat-icon style="display:inline-block;" svgIcon='book-request-gray'></mat-icon>
                                            <span style="display:inline-block;color: #2f3842;top:50%;transform: translate(0%, -40%);">&nbsp;Request Book</span>
                                    </button>
                            </div>
                        </mat-card-content>
                    <mat-card-title>{{bookSelected.title}}</mat-card-title>
                    <mat-card-subtitle>by {{bookSelected.author}}</mat-card-subtitle>
                    <mat-card-content>{{bookSelected.description}}</mat-card-content>
                </mat-card>
                        
                
            
        </div>
        
    </ng-template>
</ng-template>

<ng-template #rightArrowIcon>
    <mat-icon svgIcon='right-arrow' class="arrow-icon"></mat-icon>
</ng-template>
<ng-template #leftArrowIcon>
    <mat-icon svgIcon='left-arrow' class="arrow-icon"></mat-icon>
</ng-template>

<ng-template #loading>
    <div class="centered">
        <!-- <mat-spinner [color]="'accent'"></mat-spinner> -->
        <img class="heart" src="assets/images/panda2.png"/>
    </div>
</ng-template>
