<div>
  <container-element [ngSwitch]="this.which_page">
    <div *ngSwitchCase="'my_requests'">
      <div class="mybooks">
        <section class="header">
          <label class="header-cat">My Requests</label>
        </section>
        <mat-grid-list class="my-books" [cols]="numCols" gutterSize="10" rowHeight="5:8" (window:resize)="onResize()">
            <section class="header">
                <label class="header-cat">New message</label>
              </section>
          <mat-grid-tile *ngFor="let book of new_msg_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
              [attr.src]="book.imagePath" />
              <div *ngIf="book.currentRequest && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
              <div *ngIf="book.currentRequest && book.currentRequest.hasNewMessages then unreadMessages"></div>
              <!-- <div class='book-bottom'>
              <span class='addbook_title'>{{book.title}}</span>
              <br>
              <span class='addbook_author'>by {{book.author}}</span>
            </div> -->
          </mat-grid-tile>

          <section class="header">
              <label class="header-cat">Approved</label>
            </section>
          <mat-grid-tile *ngFor="let book of approved_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
              [attr.src]="book.imagePath" />
              <div *ngIf="book.currentRequest && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
              <div *ngIf="book.currentRequest && book.currentRequest.hasNewMessages then unreadMessages"></div>
              <!-- <div class='book-bottom'>
              <span class='addbook_title'>{{book.title}}</span>
              <br>
              <span class='addbook_author'>by {{book.author}}</span>
            </div> -->
          </mat-grid-tile>

          <section class="header">
              <label class="header-cat">Waiting approval</label>
            </section>
          <mat-grid-tile *ngFor="let book of waiting_approval" (click)="showBookNavbar(book)" style="overflow: visible;">
            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
              [attr.src]="book.imagePath" />
              <div *ngIf="book.currentRequest && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
              <div *ngIf="book.currentRequest && book.currentRequest.hasNewMessages then unreadMessages"></div>
              <!-- <div class='book-bottom'>
              <span class='addbook_title'>{{book.title}}</span>
              <br>
              <span class='addbook_author'>by {{book.author}}</span>
            </div> -->
          </mat-grid-tile>
        </mat-grid-list>
      </div>

      <div *ngIf="this.bookNavBarEnabled===true; then bookNavbar"></div>

    </div>

    <app-chat [caller]="'my_requests'" [bookChat]="bookSelected" *ngSwitchCase="'my_requests_chat'"></app-chat>
  </container-element>
</div>

<ng-template #bookNavbar>
  <div class='bookNavbarBox'>
    <mat-grid-list class="bookNavbarList" rowHeight="56px" [cols]="bookNavbarCols" gutterSize="10" style="max-height: 56px;">
      <mat-grid-tile item-height="100%">
        <button mat-icon-button (click)="hideBookNavbar(bookSelected)">
          <mat-icon svgIcon='down-arrow-black' class='icon'></mat-icon>
        </button>
      </mat-grid-tile>
      <mat-grid-tile item-height="100%">
        <button style="font-size:1em;" (click)="removeRequest()">
          <mat-icon svgIcon='waste-bin' class='icon'></mat-icon>

        </button>
      </mat-grid-tile>
      
      <mat-grid-tile item-height="100%">
        <div *ngIf="bookSelected.currentRequest  && !bookSelected.currentRequest.pending && bookSelected.currentRequest.approved then chatButton"></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</ng-template>


<ng-template #rightArrowIcon>
  <mat-icon svgIcon='right-arrow' class="arrow-icon"></mat-icon>
</ng-template>
<ng-template #leftArrowIcon>
  <mat-icon svgIcon='left-arrow' class="arrow-icon"></mat-icon>
</ng-template>

<ng-template #loading>
  <div class="centered">
      <img class="heart" src="assets/images/panda2.png"/>
  </div>
</ng-template>

<ng-template #requestApprove>
  <mat-icon svgIcon='accept' class="book-status"></mat-icon>
</ng-template>

<ng-template #unreadMessages>
  <mat-icon svgIcon='unread-messages' class="book-status"></mat-icon>
</ng-template>

<ng-template #chatButton>
  <button mat-icon-button (click)="startChat()">
    <mat-icon svgIcon='new-message' class="icon"></mat-icon>
  </button>
</ng-template>
