.blue-icon svg {
  fill:#64B5F6;
}
.gray-icon svg{
  fill:#d0d0d0;
}
  
  .spacer {
    flex:2;
  }

  .mat-toolbar-row{
    background-color: #2B2727;
    display: flex;
    justify-content: space-between;
  }
  .mat-toolbar-row2{
    background-color: #fafafa;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
  }



  .mat-toolbar{
    display:flex;
    flex-direction: column-reverse;
  }

 