left-arrow-icon {
  align-items: flex-start;
  width: 65px;
  height: 65px;
}
.back-pic{
  position: fixed;
    top: 45%;
    left: 17%;
    opacity: 0.1;
    transform:scale(1.5);
    z-index: 9;
}
.header-chat {
  flex-grow: 2;
  position: absolute;
  left:50%;
  //margin-top: 2%;
  transform: translate(-50%,50%);
}

.header {
  background-color: #00b1b8; 
  color: #FAFAFA;
  width: 100%;
  border-top: 2px solid #FAFAFA;
  border-radius: 0px 0px 40px 40px;
  flex: auto;
  display: flex;
}

.footer-send{
    min-height: 15%;
}

.chat-div{
    width: 100%;
    border: 0px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    

}


.container-info{
    display: flex;
}

.chat-input {
  font-size: 20px;
  color: #737373;
  min-width: 250px;
}

/deep/ .mat-form-field-wrapper {
  min-width: 250px;
}

.button-send {
  align-items: flex-end;
}

mat-card{
  transition: none !important;
  box-shadow: none !important;
}

.total-chat-msg-section {
  padding-right: 38px;
  padding-left: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
}

.send-msg {
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 3px;
  min-height: 15%;
}

.send-icon {
  width: 40px;
  height: 40px;
  padding-bottom: 8px;
}



.label-msg-1 {
  font-size: 12px;
  color: black;
  padding: 5px;
  word-wrap: break-word;
  max-width: 100%;
  white-space: pre-line;
}

/deep/ .info-section-1 {
  border-radius: .4em;
  max-width: 70%;
  margin: 40px;
  display: inline-block;
  position: relative;
	height: auto;
  background-color: #03a9f4;
}
.info-section-1:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -5px;
	border: 10px solid;
  border-color: transparent transparent transparent #03a9f4;
}


.label-msg-2 {
  font-size: 12px;
  color: black;
  padding: 5px;
  word-wrap: break-word;
  max-width: 100%;
  white-space: pre-line;
}


/deep/ .info-section-2 {
  border-radius: .4em;
  max-width: 70%;
  margin: 40px;
  display: inline-block;
  position: relative;
	height: auto;
	background: #eceff1;
  margin-left:auto; margin-right:0;
}
.info-section-2:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
  right: auto;
  top: auto;
	bottom: -5px;
  border: 10px solid;
  right:0%;
  border-color: transparent #eceff1 transparent transparent;
}

.chat-msg{
  position: fixed;
  bottom: 0%;
  min-width: 100%;
  border-radius: 0;
}

.chat-msg-spacer{
  bottom: 0%;
  min-width: 100%;
  min-height: 50px;
}












