<container-element [ngSwitch]="this.which_page">
  
  <div>
    <section class="header">
      <button mat-button label class="button-switch-page" (click)="goToMyBooks()">
        <div *ngIf="1 === 1; then leftArrowIcon"></div>
      </button>
      <span class="header-chat" ngDefaultControl>Chat</span>
    </section>
<img src="assets/images/panda2.png"  class="back-pic"/> 

    <mat-card class="chat-div" #content style="height: 100%;">
      <mat-card-content class="chat-container" *ngFor="let item of items" selected="true" name="msg_list" ngDefaultControl>
        <container-element class="container-info" [ngSwitch]="item.from">


          <section class="info-section-1" *ngSwitchCase="selfUserId">
            <label class="label-msg-1">
              {{item.content}}
            </label>
          </section>

          <section class="info-section-2" *ngSwitchDefault>
            <label class="label-msg-2">
              {{item.content}}
            </label>
          </section>
        </container-element>
          
      </mat-card-content>


    </mat-card>

    <div class="chat-msg">
      <mat-card class="send-msg">
        <section class="total-chat-msg-section">
          
          <mat-form-field class="add-msg">
            <textarea matInput class="chat-input" placeholder="Enter message here..." autocorrect="off" autocapitalize="off" spellcheck="off"
              type="text" #search [(ngModel)]="msgVal"></textarea>
            <button mat-button *ngIf="msgVal" matSuffix mat-icon-button aria-label="Clear" (click)="emptyChatText()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>

          <button mat-icon-button class="button-send" (click)="chatSend()">
            <div *ngIf="msgVal; then sendIcon; else sendIconGray;"></div>
          </button>
        </section>
      </mat-card>
    </div>

  </div>
</container-element>

<ng-template #leftArrowIcon>
  <mat-icon svgIcon='left-arrow' class="left-arrow-icon"></mat-icon>
</ng-template>

<ng-template #sendIcon>
  <mat-icon svgIcon='send' class="send-icon"></mat-icon>
</ng-template>

<ng-template #sendIconGray>
    <mat-icon svgIcon='send-gray' class="send-icon"></mat-icon>
  </ng-template>
