left-arrow-icon {
  align-items: flex-start;
  width: 65px;
  height: 65px;
}
.back-pic{
  position: fixed;
    top: 45%;
    left: 17%;
    opacity: 0.5;
    transform:scale(1.5);
}
label.header-chat {
  flex-grow: 2;
  position: relative;
  right: 44px;
  transform: translate(0%, 0%);
}

.header {
  background-color: #757575;
  color: white;
  width: 100%;
  flex: auto;
  display: flex;
}

.footer-send{
    min-height: 15%;
}

.chat-div{
    width: 100%;
    border: 0px;
    background-color: #fafafa;

}


.container-info{
    display: flex;
}

.chat-input {
  font-size: 20px;
  color: #737373;
  min-width: 250px;
}

/deep/ .mat-form-field-wrapper {
  min-width: 250px;
}

.button-send {
  align-items: flex-end;
}

mat-card{
  transition: none !important;
  box-shadow: none !important;
}

.total-chat-msg-section {
  padding-right: 38px;
  padding-left: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
}

.send-msg {
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 3px;
  min-height: 15%;
}

.send-icon {
  width: 40px;
  height: 40px;
  padding-bottom: 8px;
}



.label-msg-1 {
  font-size: 12px;
}

/deep/ .info-section-1 {
  position: relative;
	background: #03a9f4;
  border-radius: .4em;
  max-width: 70%;
}


.label-msg-2 {
  font-size: 12px;
  color: black;
}


/deep/ .info-section-2 {
  position: relative;
	background: #eceff1;
  border-radius: .4em;
  max-width: 70%;
  margin-left:auto; margin-right:0;
  color: black;
}

.chat-msg{
  position: fixed;
  bottom: 0%;
  min-width: 100%;
  border-radius: 0;
}



/*

.info-section-1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #03a9f4;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -20px;
}

.info-section-2:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #eceff1;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
  margin-bottom: -20px;
}

*/