
.header {
  background-color: #2B2727; 
  color: white;
  width: 100%;
  
  flex: auto;
  display: flex;
}
button-switch-page {
  flex: start;
  float: left;
}

label.header-cat {
  flex-grow: 2;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%,0%);
}
.left-arrow-icon{
  height:56px;
}
section {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.fa-search{
  font-size: 28px;
  vertical-align: middle;
  color:#8A8A8A;
}


.form-control {
  margin-right: 2.5%;
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  background-color: #fafafa;
}
*{
  outline: none;
}
.mat-grid-list{
  margin-top: 5%;
  margin-left:  5%;
  margin-right: 5%;
}

.cover{
  border-radius: 0px;
  top:50%;
  left:50%;
  max-width: 97%;
  max-height: 97%;
  min-width: 97%;
  min-height: 97%;
  transform:translate(-50%,-50%);
  position: absolute;
  filter: drop-shadow(rgb(43, 39, 39) 1px 1px 2px);
}
.book-top{
  position: absolute;
  text-align: center;
  max-width: 100%;
  min-width: 100%;
  min-height: 80%;
  max-height: 80%;
  top:0%;
}
.addbook{
  border: none !important;
  background-color: transparent;
}

.fa-plus{
  vertical-align: middle;
  color: #3A95D7;
  font-size: 50px;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  position: absolute;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
}
.book-bottom{
  position: absolute;
  overflow: hidden;
  text-align: center;
  max-width: 100%;
  max-height: 20%;
  top:80%;
}
.addbook_title {
  font-size: 12px;
  font-weight: bold;
}

.addbook_author {
  font-size: 10px;
}

