<section class="header">
    <button mat-button label class="button-switch-page" (click)="goToMyBooks()">
      <div *ngIf="1 === 1; then leftArrowIcon"></div>
    </button>
    <label class="header-cat">Add Book</label>
  </section>
<div style="margin-top: 10pt;">
  <input id="book-search" type="search" class="form-control" placeholder="title, author, isbn..." [formControl]="searchField">
  
  <i class="fas fa-search"></i>
</div>

<hr />

<mat-grid-list [cols]="numCols" rowHeight="5:10" gutterSize="10" (window:resize)="onResize()">
  <mat-grid-tile *ngFor="let result of results">
    <div class='book-bottom'>
      <span class='addbook_title' >{{result.title}}</span><br>
      <span class='addbook_author'>by {{result.author}}</span>
    </div>
    <div class='book-top'>
      <img class='cover' [attr.src]="result.imagePath">
      <button class="addbook" (click)="addBook(result)">
          <i class="fas fa-plus"></i>
      </button>
  
    </div>
      
    <hr />
  </mat-grid-tile>
</mat-grid-list>
<ng-template #leftArrowIcon>
    <mat-icon svgIcon='left-arrow' class="left-arrow-icon"></mat-icon>
  </ng-template>
  