
  .example-form {
    display:flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;

  }
  
  .example-half-width {
    flex:1;
    
  }

  .auto-complete-option{
    color: #9e9e9e;
  }
  .auto-complete-chosen{
    color:#64B5F6;
  }

  /deep/ .mat-form-field-wrapper {
    min-width: 250px;
    max-width: 80%;
    padding-left: 8%;
    padding-right: 10%;
}
 