
<div class="container">
    <h1>Settings</h1>
      <form>
        <div id="location_div">
          <label for="location">Use current location?</label>
          <input type="checkbox" id="location_cb">
        </div><br><br>

        <div id="fav_cat">
          <label id="label_pick_cat">Pick your favorite book categories</label><br>
          <label for="fav_cat">Love</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Hate</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Food</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 4</label><input type="radio" class="form-control" id="fav_cat"><br>
          <label for="fav_cat">Option 5</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 6</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 7</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 8</label><input type="radio" class="form-control" id="fav_cat"><br>
          <label for="fav_cat">Option 9</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 10</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 11</label><input type="radio" class="form-control" id="fav_cat">
          <label for="fav_cat">Option 12</label><input type="radio" class="form-control" id="fav_cat">
        </div><br>

        <div class="form-group">
            <label for="metric">Pick display metric</label><br>
            <label for="metric">Kilometers</label><input type="checkbox" class="form-control" id="metric">
            <label for="metric">Miles</label><input type="checkbox" class="form-control" id="metric">
        </div><br>

        <div class="form-group">
            <label for="radius">Book search radius : {{ val_radius }}</label><br>
            <p-slider [(ngModel)]="val_radius" name="radius_slide"
             [style]="{'height': '20px', 'width': '70%','display': 'inline-block', 'color': 'red'}"
              [animate]="true"></p-slider>    
          </div><br>

        <button type="disable" class="btn btn-default">Disable Account</button><br><br>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
</div>
