<container-element [ngSwitch]="this.which_page">
  <div class="container" *ngSwitchCase="'categories'">

    <section class="header">
      <button mat-button label class="button-switch-page" (click)="goToSettings()"> < </button>
      <label class="header-cat" name="category_lab" ngDefaultControl>Categories</label>
    </section>

    <mat-card class="location-categories">
      <mat-chip-list [aria-orientation]="horizontal">
        <mat-chip *ngFor="let chip of availableColors" selected="true" name="category_list" [color]="chip.color" ngDefaultControl>
          {{chip.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-card>

  </div>

  <app-settings *ngSwitchCase="'settings'"></app-settings>


  <app-locations *ngSwitchCase="'locations'"> </app-locations>


</container-element>