.container {
  background: #fafafa;
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 0px;
}

mat-chip {
  max-width: 135px;
}

button-switch-page {
  flex: auto;
  text-align: center;
  font-weight: 600;
}
