.container {
  background: #fafafa;
  padding-right: 0px;
  padding-left: 0px;
}

.header {
  background-color: #2f3842; 
  color: white;
  width: 100%;
  flex: auto;
  display: flex;
}

button-switch-page {
  flex: start;
  float: left;
}

label.header-cat {
  flex-grow: 2;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%,0%);
}

.left-arrow-icon{
  height:56px;
}

section {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

location-categories {
  width: 85%;
}

pick-buttons {
  width: 90%;
  padding-left: 0px;
  padding-right: 0px;
}

.button-right {
  background-color: #00b1b8;
  color: white;
  height: 50px;
  border: 1px;
  border-color: black;
  align-content: center;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  flex: flex-end;
}

.button-left {
  background-color: #00b1b8;
  color: white;
  height: 50px;
  border: 1px;
  border-color: black;
  align-content: center;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  flex: flex-start;
}

.button-mid {
  background-color: #00b1b8;
  color: white;
  height: 50px;
  border: 1px;
  border-color: black;
  align-content: center;
  font-size: 14px;
  padding-left: 4px;
  padding-right: 4px;
  flex: 1;
}

pick-buttons {
  display: flex;
}

/deep/ .mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

mat-chip {
  max-width: 135px;
  margin: 0 0 0 8px;
}
/deep/ .mat-chip.mat-chip-selected.mat-accent {
  background-color: #00b1b8;
}

.mat-chip {
  margin: 3px 0 0 0 !important;
  padding: 8px !important;
  justify-content: center;
  width: 110px;
  //added to straighten matchips
  height: 60px;
  display: inline-block !important;
}

.category-name{
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  position: relative;
}

@media (max-width: 200px) {
  .container {
    display: none;
  }
}
