<container-element [ngSwitch]="this.which_page$ | async">
  <div class="container" *ngSwitchCase="'categories'">

    <section class="header">
      <button mat-button label class="button-switch-page" (click)="goToSettings()">
        <div *ngIf="1 === 1; then leftArrowIcon"></div>
      </button>
      <label class="header-cat" ngDefaultControl>Categories</label>
    </section>

    <mat-card class="location-categories">
      <mat-chip-list [aria-orientation]="horizontal">
        <mat-chip 
          *ngFor="let chip of bookCategories"
          (click)="this.chipClicked(chip.name)"
          selected="true"
          [color]="this.chipColor(chip.active)"
          class="mat-chip">
          {{chip.name}}
        </mat-chip>
      </mat-chip-list>
    </mat-card>

    <mat-card class="pick-buttons" [aria-orientation]="horizontal">
      <button mat-button label class="button-left" (click)="pickAll()"> Pick All Categories </button>
      <button mat-button label class="button-mid" (click)="pickForUser()"> I'm Feeling Lucky </button>
      <button mat-button label class="button-right" (click)="unpickAll()"> Clear Selection </button>
      <br>
    </mat-card>

  </div>

  <app-settings *ngSwitchCase="'settings'"></app-settings>

  <app-locations *ngSwitchCase="'locations'"> </app-locations>


</container-element>

<ng-template #leftArrowIcon>
  <mat-icon svgIcon='left-arrow' class="left-arrow-icon"></mat-icon>
</ng-template>