<container-element [ngSwitch]="this.which_page">
    <div class="container" *ngSwitchCase="'add_locations'">
  
    <section class="header">
      <button mat-button label class="button-switch-page" (click)="goToLocations()"> < </button>
      <label class="header-add-loc" name="category_lab" ngDefaultControl>Add Location</label>
    </section>
    
    <mat-card class="search-loc">
        <section class="total-search-section">
          <div *ngIf="1 === 1; then searchIcon"></div>
          <mat-form-field class="add-address">
             <input matInput class="input-address" [(ngModel)]="val_add_addrr">
             <button mat-button *ngIf="val_add_addrr" matSuffix mat-icon-button aria-label="Clear" (click)="val_add_addrr=''">
                <mat-icon>close</mat-icon>
              </button>
           </mat-form-field>
          <button mat-icon-button class="button-add" (click)="addLocation()">
            <div *ngIf="1 === 1; then addIcon"></div>
          </button>
        </section>
    </mat-card>

    <agm-map [latitude]="lat" [longitude]="lng" class="map" [zoom]="zoom_lvl">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>

  </div>


  <app-locations *ngSwitchCase="'locations'">  </app-locations>

  <app-settings *ngSwitchCase="'settings'"></app-settings>

  <app-categories *ngSwitchCase="'categories'"></app-categories>
  
</container-element>
  <ng-template #searchIcon>
    <mat-icon  svgIcon='search' class="search-icon"></mat-icon>
  </ng-template>
  
  <ng-template #addIcon>
    <mat-icon svgIcon='add' class="add-icon"></mat-icon>
  </ng-template>
