.container {
  padding: 0px;
  width: 100%;
}

.header {
  background-color: #2f3842; 
  color: white;
  width: 100%;
  flex: auto;
  display: flex;
}

button-switch-page {
  flex: start;
  float: left;
}

label.header-add-loc {
  flex-grow: 2;
  position: absolute;
  margin: 0;
  left: 50%;
  transform: translate(-50%,0%);
}

.left-arrow-icon{
  height:56px;
}

section {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

agm-map {
  height: 480px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.search-loc {
  width: 100%;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-left: 3px;
  padding-right: 3px;
  min-height: 15%;
}

.total-search-section {
  padding-right: 8px;
  padding-left: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.button-add {
  align-items: flex-end;
}

.search-icon {
  align-items: flex-start;
  width: 40px;
  height: 40px;
}

.add-icon {
  width: 40px;
  height: 40px;
}

.input-address {
  font-size: 20px;
  color: #737373;
}

@media (max-width: 230px) {
  .container {
    display: none;
  }
}


/* http://stackoverflow.com/questions/12499886/how-to-hide-or-disable-the-google-logo-footer-copyright-on-google-maps-javascr */
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
a[href^="https://maps.google.com/maps"] {
  display: none !important;
}

.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none;
}

