<container-element [ngSwitch]="this.which_page">
  <div class="container" *ngSwitchCase="'add_locations'">

    <section class="header">
      <button mat-button label class="button-switch-page" (click)="goToLocations()">
        <div *ngIf="1 === 1; then leftArrowIcon"></div>
      </button>
      <label class="header-add-loc" ngDefaultControl>Add Location</label>
    </section>

    <mat-card class="search-loc">
      <section class="total-search-section">
        <div *ngIf="1 === 1; then searchIcon"></div>
        <mat-form-field class="add-address">
          <input matInput class="input-address" 
            placeholder="{{place_holder}}" autocorrect="off" autocapitalize="off"
            spellcheck="off" type="text" #search [(ngModel)]="new_location_address">
          <button mat-button *ngIf="new_location_address" matSuffix mat-icon-button aria-label="Clear" (click)="emptyLocText()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-icon-button class="button-add" (click)="addLocationName()">
          <div *ngIf="1 === 1; then addIcon"></div>
        </button>
      </section>
    </mat-card>

    
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [minZoom]="10" [gestureHandling]='greedy'>
      <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>

  </div>


  <app-locations *ngSwitchCase="'locations'" [locations]="locations"> </app-locations>

  <app-settings *ngSwitchCase="'settings'"></app-settings>

  <app-categories *ngSwitchCase="'categories'"></app-categories>

</container-element>

<ng-template #searchIcon>
  <mat-icon svgIcon='search' class="search-icon"></mat-icon>
</ng-template>

<ng-template #addIcon>
  <mat-icon svgIcon='add' class="add-icon"></mat-icon>
</ng-template>

<ng-template #leftArrowIcon>
  <mat-icon svgIcon='left-arrow' class="left-arrow-icon"></mat-icon>
</ng-template>