<div *ngIf="status.loading && !status.loaded; then loading  else loaded"></div>
<ng-template #loaded>
    <div>
        <container-element [ngSwitch]="this.which_page">
            <div *ngSwitchCase="'my_books'">
                <div class="mybooks">
                    <section class="header">
                        <label class="header-cat">My Books</label>
                    </section>
                    
                    <mat-grid-list class="my-books" [cols]="numCols" gutterSize="10" rowHeight="5:8" (window:resize)="onResize()">
                        <mat-grid-tile>
                            <button class="cover" (click)="goToAddbook()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </mat-grid-tile>

                        <section class="header">
                                <label class="header-cat">Waiting your approval</label>
                            </section>
                        <mat-grid-tile *ngFor="let book of waiting_approval_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
                            <!-- <div class='book-bottom'>
                                <span class='addbook_title'>{{book.title}}</span>
                                <br>
                                <span class='addbook_author'>by {{book.author}}</span>
                            </div> -->
                            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
                                [attr.src]="book.imagePath" />
                            <div *ngIf="book.currentRequest  && book.currentRequest.pending && !book.currentRequest.approved then requestPending"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && book.currentRequest.hasNewMessages then unreadMessages"></div>
                        </mat-grid-tile>

                        <section class="header">
                                <label class="header-cat">New message</label>
                            </section>
                        <mat-grid-tile *ngFor="let book of new_msg_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
                            <!-- <div class='book-bottom'>
                                    <span class='addbook_title'>{{book.title}}</span>
                                    <br>
                                    <span class='addbook_author'>by {{book.author}}</span>
                                </div> -->
                            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
                                [attr.src]="book.imagePath" />
                            <div *ngIf="book.currentRequest  && book.currentRequest.pending && !book.currentRequest.approved then requestPending"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && book.currentRequest.hasNewMessages then unreadMessages"></div>
                        </mat-grid-tile>

                        <section class="header">
                                <label class="header-cat">Approved</label>
                            </section>
                        <mat-grid-tile *ngFor="let book of approved_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
                            <!-- <div class='book-bottom'>
                                        <span class='addbook_title'>{{book.title}}</span>
                                        <br>
                                        <span class='addbook_author'>by {{book.author}}</span>
                                    </div> -->
                            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
                                [attr.src]="book.imagePath" />
                            <div *ngIf="book.currentRequest  && book.currentRequest.pending && !book.currentRequest.approved then requestPending"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && book.currentRequest.hasNewMessages then unreadMessages"></div>
                        </mat-grid-tile>

                        <section class="header">
                                <label class="header-cat">Not requested yet</label>
                            </section>
                        <mat-grid-tile *ngFor="let book of not_requested_arr" (click)="showBookNavbar(book)" style="overflow: visible;">
                            <!-- <div class='book-bottom'>
                                        <span class='addbook_title'>{{book.title}}</span>
                                        <br>
                                        <span class='addbook_author'>by {{book.author}}</span>
                                    </div> -->
                            <img class='cover' [ngClass]="{'blurred': (this.bookNavBarEnabled==true && this.bookSelected!=book) , 'regular': (this.bookNavBarEnabled==false ||this.bookSelected==book) }"
                                [attr.src]="book.imagePath" />
                            <div *ngIf="book.currentRequest  && book.currentRequest.pending && !book.currentRequest.approved then requestPending"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && !book.currentRequest.hasNewMessages then requestApprove"></div>
                            <div *ngIf="book.currentRequest  && !book.currentRequest.pending && book.currentRequest.approved && book.currentRequest.hasNewMessages then unreadMessages"></div>
                        </mat-grid-tile>

                    </mat-grid-list>
                </div>
                <div *ngIf="!userBooks.length then noBooks"></div>

                <div *ngIf="this.bookNavBarEnabled===true; then bookNavbar"></div>

            </div>
            <app-add-book *ngSwitchCase="'add_book'" [masterBooksArray]="userBooks"></app-add-book>
            <app-chat [caller]="'my_books'" [bookChat]="bookSelected" *ngSwitchCase="'my_books_chat'"></app-chat>
        </container-element>
    </div>

    <ng-template #bookNavbar>
        <div class='bookNavbarBox'>
            <mat-grid-list class="bookNavbarList" rowHeight="56px" [cols]="bookNavbarCols" gutterSize="10" style="max-height: 56px;">
                <mat-grid-tile item-height="100%">
                    <button mat-icon-button (click)="hideBookNavbar(bookSelected)">
                        <mat-icon svgIcon='down-arrow-black' class='icon'></mat-icon>
                    </button>
                </mat-grid-tile>

                <mat-grid-tile item-height="100%">
                    <button style="font-size:1em;background-color: #2f3842;" (click)="removeBook()">
                        <mat-icon svgIcon='waste-bin' class='icon'></mat-icon>

                    </button>
                </mat-grid-tile>

                <mat-grid-tile item-height="100%">
                    <div *ngIf="(bookSelected.currentRequest  && (bookSelected.currentRequest.pending && !bookSelected.currentRequest.approved) || (!bookSelected.currentRequest.pending && bookSelected.currentRequest.approved)) then declineButton"></div>
                </mat-grid-tile>

                <mat-grid-tile item-height="100%">
                    <ng-container *ngIf="bookSelected.currentRequest  && bookSelected.currentRequest.pending && !bookSelected.currentRequest.approved then acceptButton else elseif1"></ng-container>
                    <ng-template #elseif1>
                        <ng-container *ngIf="bookSelected.currentRequest  && !bookSelected.currentRequest.pending && bookSelected.currentRequest.approved then chatButton"></ng-container>
                    </ng-template>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </ng-template>
</ng-template>

<ng-template #rightArrowIcon>
    <mat-icon svgIcon='right-arrow' class="icon"></mat-icon>
</ng-template>
<ng-template #leftArrowIcon>
    <mat-icon svgIcon='left-arrow' class="icon"></mat-icon>
</ng-template>

<ng-template #loading>
    <div class="centered">
        <img class="heart" src="assets/images/panda2.png" />
    </div>
</ng-template>

<ng-template #requestPending>
    <mat-icon svgIcon='request-pending' class="book-status"></mat-icon>
</ng-template>

<ng-template #requestApprove>
    <mat-icon svgIcon='accept' class="book-status"></mat-icon>
</ng-template>

<ng-template #unreadMessages>
    <mat-icon svgIcon='unread-messages' class="book-status"></mat-icon>
</ng-template>

<ng-template #declineButton>
    <button mat-icon-button (click)="rejectRequest(bookSelected)">
        <mat-icon svgIcon='decline' class="icon"></mat-icon>
    </button>
</ng-template>

<ng-template #acceptButton>
    <button mat-icon-button (click)="approveRequest(bookSelected)">
        <mat-icon svgIcon='accept' class="icon"></mat-icon>
    </button>
</ng-template>

<ng-template #chatButton>
    <button mat-icon-button (click)="startChat()">
        <mat-icon svgIcon='new-message' class="icon"></mat-icon>
    </button>
</ng-template>

<ng-template #noBooks>
    <p>add books to share!</p>
</ng-template>