<container-element [ngSwitch]="this.which_page">
  <div class="switch_container_1" *ngSwitchCase="'settings'">
    <div class="container" *ngIf="auth.user | async as user">
      <img [src]="user.photoURL" />
      <h3> {{ user.displayName }}</h3>
      <br>

      <mat-card class="RightLeftStyle">
        <mat-card-content>
          <section class="form-section">
            <div class="container_location">
              <label class="form-margin-c1" name="location_lab_1"> Location</label>
              <span class="spacer">~~~~~~~~@@--~~~~~~~~</span>
              <button mat-button label class="button-switch-page" (click)="goToLocations()" [style.color]="'#8a8a8a'"> ></button>
            </div>
          </section>
        </mat-card-content>
      </mat-card>

      <mat-card class="search_radius">
        <mat-card-content>
          <div class="container_search_radius">
            <label class="form-margin-sr1" name="search_radius_lab_1"> Search Radius</label>
            <span class="spacer"></span>
            <label class="form-margin-sr2" name="search_radius_lab_2" [style.color]="'#8a8a8a'"> {{ value }}Km.</label>
          </div>
          <mat-slider name="search_radius_slider" class="form-margin" [max]="max" [min]="min" [step]="step" [thumb-label]="thumbLabel"
            [(ngModel)]="value">
          </mat-slider>
        </mat-card-content>
      </mat-card>

      <mat-card class="RightLeftStyle">
        <mat-card-content>
          <section class="form-section">
            <div class="container_categories">
              <label class="form-margin-c1" name="categories_lab_1"> Categories</label>
              <span class="spacer">~~~~~~~~@@--~~~~~~~~</span>
              <button mat-button label class="button-switch-page" (click)="goToCategories()" [style.color]="'#8a8a8a'"> ></button>
            </div>
          </section>
        </mat-card-content>
      </mat-card>

      

      <mat-card class="RightLeftStyle">
        <mat-card-content>
          <section class="form-section">
            <div class="container_location">
              <label class="form-margin-c1" name="location_lab_1"> Share My Books</label>
              <span class="spacer">~~~~~~~~@@--~~~~~~~~</span>
              <mat-slide-toggle class="slide-show-books" [color]="slide_color" [checked]="slide_checked">
              </mat-slide-toggle>
            </div>
          </section>
        </mat-card-content>
      </mat-card>

      <mat-card class="buttons">
        <mat-card-content>
          <div class="container_logout">
            <button mat-button (click)="auth.logout()" id="button_logout">Logout</button>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <!--###############  END OF SETTINGS  ###################-->

  <app-categories *ngSwitchCase="'categories'"></app-categories>


  <app-locations *ngSwitchCase="'locations'">  </app-locations>

  
</container-element>