

h1{
    margin-top: 25px;
    font-size: 55px;
    margin-bottom: 10px;
    text-align: center;
}

.container button{
    margin-bottom: 25px;
}

  .form-h2 {
    margin: 10px;
  }
  
  .form-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

  .mat-slider-horizontal {
    width: 300px;
  }
  
  .form-margin {
    margin: 0 10px;
  }

  mat-chip {
    max-width: 135px;
  }




