<div class="container" *ngIf="auth.user | async as user">
  <h3>Hi {{ user.displayName }}</h3>
  <img [src]="user.photoURL" style="width:100px;" />

<h1>Settings</h1>
  
<mat-card class="location">
  <mat-card-content>
    <section class="form-section">
      <mat-checkbox class="form-margin" [(ngModel)]="checked" name="location_cb" [(indeterminate)]="indeterminate" [align]="align" [disabled]="disabled" ngDefaultControl>
        Use my current location
      </mat-checkbox>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="categories">
  <section class="form-section">
    <label class="form-margin" name="category_lab" ngDefaultControl>Pick wanted categories:</label>
  </section>
  <mat-chip-list [aria-orientation]="horizontal">
    <mat-chip *ngFor="let chip of availableColors" selected="true" name="category_list" [color]="chip.color" ngDefaultControl>
      {{chip.name}}
    </mat-chip>
  </mat-chip-list>
</mat-card>

<mat-card class="search_radius">
  <mat-card-content>
    <section class="form-section">
      <label class="form-margin" name="search_radius_lab">Book search radius : {{ value }}Km</label>
    </section>
    <section class="form-section">
      <mat-slider
          name="search_radius_slider"
          class="form-margin"
          [max]="max"
          [min]="min"
          [step]="step"
          [thumb-label]="thumbLabel"
          [(ngModel)]="value"
          ngDefaultControl>
      </mat-slider>
    </section>
  </mat-card-content>
</mat-card>

<mat-card class="buttons">
  <mat-card-content>
    <section class="form-section">
      <button mat-button name="button_disable">Disable account</button>
    </section>
      
    <section class="form-section" name="button_logout">
      <button mat-button (click)="auth.logout()">Logout</button>
    </section>
  </mat-card-content>
</mat-card>

</div>
